<html>
<head>
  <title>This is the first page</title>
</head>
<body>
  <ul type="disc">
  <li><a href="/resume" target="_blank">View Resume</a></li>
  <li><a href="https://github.com/anilkrishnach/" target="_blank">Git Profile</a></li>
  <li><a href="https://www.hackerrank.com/Anilkrishna" target="_blank">hackerrank profile</a></li>
</ul>
</body>
</html>
